[Unit]
Description=Make a full backup of the Nextcloud

[Service]
Type=oneshot
ExecStart=nc_backup -r /media/nextcloud/backup --snapper -d /media/nextcloud/backup/snapshots -c timeline --no-incrementally
User=www-data
Group=www-data
Environment="RUST_LOG=debug"
StandardOutput=append:/media/nextcloud/backup/backup.log
StandardError=append:/media/nextcloud/backup/backup.log
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
CPUSchedulingPriority=0
OOMScoreAdjust=500
Nice=10
ProtectSystem=full
ReadWritePaths=/media/nextcloud/backup
