[Unit]
Description=Daily Nextcloud Backup and Retention

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target

